<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SimpleUpdater.Properties.Settings>
            <setting name="ChangelogURL" serializeAs="String">
                <value>www.example.com/changelog.html</value>
            </setting>
            <setting name="ManifestURL" serializeAs="String">
                <value>www.example.com/Manifest.txt</value>
            </setting>
        </SimpleUpdater.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SimpleUpdater.Properties.Settings>
            <setting name="GameInstallDirectory" serializeAs="String">
                <value>game</value>
            </setting>
            <setting name="Builder_LastBuildNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Builder_LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Builder_LastExecutable" serializeAs="String">
                <value />
            </setting>
            <setting name="Builder_LastURL" serializeAs="String">
                <value />
            </setting>
        </SimpleUpdater.Properties.Settings>
    </userSettings>
</configuration>